.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header_search_input {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_search_icon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.header_option:visited {
  text-decoration: none;
}

.header_option_one {
  font-size: 0.6125rem;
}

.header_option_two {
  font-size: 0.8125rem;
  font-weight: 800;
}

.header_option > a {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.header_basket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basket_count {
  margin-left: 10px;
  margin-right: 10px;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.signedIn {
  cursor: pointer;
}
